<form method="post" action="{{ path('admin_candidature_delete', {'id': candidature.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidature.id) }}">
    <button class="btn">Delete</button>
</form>
