{% extends 'layout-2.html.twig' %}

{% block title %}Gestion des candidatures{% endblock %}

{% block content %}
    {% for candidature in candidatures %}
        <div class="card-project" style="width: 80%">
            <div class="row">
                <div class="col s12">
                    <p style="color: #000000; font-size: 24px; margin: 5px 0;">{{ candidature.lastname | upper}} {{ candidature.firstname }}</p>
                    <p style="color: #4A4A4A; font-size: 20px; margin: 5px 0;">{{ candidature.actualPoste }}</p>
                    <p style="color: #4A4A4A; font-size: 20px; margin: 5px 0;">{{ candidature.motivation }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
{% endblock %}
