{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Candidature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidature.id }}</td>
            </tr>

            <tr>
                <th>Name</th>
                <td>{{ candidature.lastname }}</td>
                <td>{{ candidature.firstname }}</td>

            </tr>

        </tbody>
    </table>

    <a href="{{ path('admin_project_index') }}">back to list</a>
    <a href="{{ path('candidature_delete', {'id': candidature.id}) }}">Supprimer candidature</a><br/>
    <a href="{{ path('candidature_accepted', {'id': candidature.id}) }}">accepter candidature</a><br/>

{% endblock %}
