{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Admin !</h1>

    <ul>
        <li><a href="{{ path('admin_project_index') }}">La liste des projet version admin</a></li>
        <li><a href="{{ path('candidature_project') }}">La liste des demande de candidature sur un projet</a></li>
    </ul>
</div>
{% endblock %}
