#blockContentLayout1 {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    background-color: white;
    margin-top: -500px;
    margin-bottom: 50px;
    width: 70%;
    position: relative;
}
#blockFooterLayout1 {
    position: absolute;
    width: 70%;
    top: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#headerLayout2 {
    background-image: url("../images/header-layout-2.png");
    background-size: cover;
    background-position: left;
    height: 400px;
}

.text-footer-light {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

.text-footer-normal {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 20px;
}

.text-footer-strong {
    color: rgba(0, 0, 0, 1);
}

.nav-menu-card {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    height: 70px;
    margin: auto;
    position: relative;
}

.nav-menu-card.active {
    background-color: #FF8169;
}

.nav-menu-card > p {
    position: absolute;
    top: 0;
    left: 35px;
    font-size: 20px;
    text-decoration: none;
    color: #4A4A4A;
}

.nav-menu-card.active > p {
    position: absolute;
    top: 0;
    left: 35px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}