{% extends 'layout-1.html.twig' %}

{% block title %}Hello CandidatureController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Envoyer une candidature  ! ✅</h1>
{{ form(form) }}

</div>
{% endblock %}
