{% extends 'base.html.twig' %}

{% block title %}Hello CandidatureController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Candidature ✅</h1>
    <p>{{ candidature.firstname }}</p>

    <p>{{ candidature.gender }}</p>


    <br>
    <a href="{{ path('candidature_delete', {'id': candidature.id}) }}">Supprimer candidature</a><br/>
    <a href="{{ path('register') }}">enregister le client</a><br/>


</div>
{% endblock %}
