<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/assets/css/base.css') }}?v={{ date() | date('YmdHis') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('/assets/css/layout.css') }}?v={{ date() | date('YmdHis') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('/assets/css/content.css') }}?v={{ date() | date('YmdHis') }}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
