{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div id="headerLayout1">
        <img src="{{ asset('assets/images/header.png') }}" alt="header" width="100%">
        <div id="blockContentLayout1" class="row">
            <div class="col s2"></div>
            <div class="col s8">
                {% block content %}{% endblock %}
            </div>
            <div class="col s2"></div>
        </div>
    </div>

    <footer style="position: relative">
        <img src="{{ asset('assets/images/footer.png') }}" width="100%" alt="header">
        <div id="blockFooterLayout1" class="row">
            <div class="col s6">
                <p class="text-footer-light">Les agents du web</p>
                <p class="text-footer-strong">L'élite de 148</p>
                <p class="text-footer-strong">Nos valeurs</p>
                <p class="text-footer-normal">B corp<br>
                    Rôles, certifications...<br>
                    Opensource et partage
                </p>
                <p class="text-footer-strong">Notre expertise</p>
                <p class="text-footer-strong">Contact</p>
            </div>
            <div class="col s6">
                <p class="text-footer-light">Coordonnées</p>
                <p class="text-footer-strong">Adresse</p>
                <p class="text-footer-normal">
                    2 rue du Dahomey <br>
                    75011 Paris
                </p>
                <p class="text-footer-strong">Téléphone</p>
                <p class="text-footer-normal">+33(1) 42 72 92 37</p>
            </div>
        </div>
    </footer>

{% endblock %}