{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <div class="row" style="min-height: 100%">
        <div class="col s2" style="
            padding: 0;
            min-height: 100%;
            -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
        ">
            <div style="height: 169px; background-color: #FF5F40; position: relative">
                <div style="
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 21px;
                ">
                    DURAND<br>
                    FLORIAN
                </div>
            </div>
            <div class="nav-menu">
                <a href="{{ path('home') }}">
                    <div class="nav-menu-card {% if app.request.attributes.get( '_route' ) starts with 'home' %}active{% endif %}">
                        <p>Accueil</p>
                    </div>
                </a>
                <a href="{{ path('app_profil') }}">
                    <div class="nav-menu-card {% if app.request.attributes.get( '_route' ) starts with 'app_profil' %}active{% endif %}">
                        <p>Mon compte</p>
                    </div>
                </a>
                {% if app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('admin_candidatures') }}">
                        <div class="nav-menu-card">
                            <p>Candidatures</p>
                        </div>
                    </a>
                    <a href="{{ path('candidature_project') }}">
                        <div class="nav-menu-card {% if app.request.attributes.get( '_route' ) starts with 'candidature_project' %}active{% endif %}">
                            <p>Candidature Projet</p>
                        </div>
                    </a>
                    <a href="{{ path('admin_project_index') }}">
                        <div class="nav-menu-card {% if app.request.attributes.get( '_route' ) starts with 'admin_project_index' %}active{% endif %}">
                            <p>Les offres</p>
                        </div>
                    </a>
                {% else %}
                    <a href="#">
                        <div class="nav-menu-card">
                            <p>Mes badges</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="nav-menu-card">
                            <p>Ma formation</p>
                        </div>
                    </a>
                    <a href="{{ path('app_profil') }}">
                        <div class="nav-menu-card">
                            <p>Mes projets</p>
                        </div>
                    </a>
                    <a href="{{ path('project_index') }}">
                        <div class="nav-menu-card {% if app.request.attributes.get( '_route' ) starts with 'project_index' %}active{% endif %}">
                            <p>Les offres</p>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col s10" style="padding: 0">
            <div id="headerLayout2">

{#                <img src="{{ asset('assets/images/header-layout-2.png') }}" alt="header" width="100%" style="#}
{#                    background-size: cover;#}
{#                    background-position: center;">#}
            </div>
            <div class="row">
                <div class="col s1"></div>
                <div class="col s10">
                    {% block content %}{% endblock %}
                </div>
                <div class="col s1"></div>
            </div>
        </div>
    </div>


{% endblock %}