{% extends 'layout-2.html.twig' %}

{% block title %}Project index{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-error">
            {{ message | raw }}
        </div>
    {% endfor %}

        {% for project in projects %}
            <div class="card-project" style="width: 50%">
                <div class="row">
                    <div class="col s9">
                        <p style="color: #000000; font-size: 24px; margin: 5px 0;">{{ project.label }}</p>
                        <p style="color: #4A4A4A; font-size: 20px; margin: 5px 0;">{{ project.description }}</p>
                        <p><a href="{{ path('candidature_project_new', {'id': project.id}) }}">Postuler</a></p>
                    </div>
                    <div class="col s3">
                        <span style="color: #FF5F40; font-size: 36px">{{ project.cost }}€</span><br>
                        <span style="color: #4A4A4A; font-size: 16px">Valeur du projet</span><br>
                        <span style="color: #9B9B9B; font-size: 23px">{{ project.commission }}</span>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>Pas encore de projets disponible</h1>
        {% endfor %}
{% endblock %}
