{% extends 'layout-2.html.twig' %}

{% block title %}Mon compte !{% endblock %}

{% block content %}

        <p style="font-size: 20px; color: #4A4A4A; margin: 20px 0 20px 50px;"><img src="{{ asset('assets/images/icon_project_1.png') }}" alt="icon-1">&nbsp;&nbsp;&nbsp;Projets sélectionnés</p>
            {% for candidature in candidatures %}
                {% if candidature.isValidated is null %}
                    <div class="card-project">
                        <span style="color: #000000; font-size: 24px">{{ candidature.project.label }}</span><br>
                        <span style="color: #4A4A4A; font-size: 20px; margin-top: 8px">{{ candidature.userCandidature.email }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        <p style="font-size: 20px; color: #4A4A4A; margin: 50px 0 20px 50px;"><img src="{{ asset('assets/images/icon_project_2.png') }}" alt="icon-1">&nbsp;&nbsp;&nbsp;Projets acceptés</p>
            {% for candidature in candidatures %}
                {% if candidature.isValidated is same as(true) %}
                    <div class="card-project">
                        <span style="color: #000000; font-size: 24px">{{ candidature.project.label }}</span><br>
                        <span style="color: #4A4A4A; font-size: 20px; margin-top: 8px">{{ candidature.userCandidature.email }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        <p style="font-size: 20px; color: #4A4A4A; margin: 50px 0 20px 50px;"><img src="{{ asset('assets/images/icon_project_3.png') }}" alt="icon-1">&nbsp;&nbsp;&nbsp;Projets refusés</p>
            {% for candidature in candidatures %}
                {% if candidature.isValidated is same as(false) %}
                    <div class="card-project">
                        <span style="color: #000000; font-size: 24px">{{ candidature.project.label }}</span><br><br>
                        <span style="color: #4A4A4A; font-size: 20px; margin-top: 8px">{{ candidature.userCandidature.email }}</span>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
{% endblock %}