{% extends 'base.html.twig' %}

{% block title %}Hello CandidatureProjectController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des candidatures sur un projet ✅</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>CreatedAt</th>
            <th>ValidatedAt</th>
            <th>isValidated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ candidature.id }}</td>
                <td>{{ candidature.createdAt ? candidature.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidature.validatedAt ? candidature.validatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidature.isValidated }}</td>
                <td>
                    <a href="{{ path('candidature_project_show', {'id': candidature.id}) }}">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
