{% extends 'base.html.twig' %}

{% block title %}CandidatureProject{% endblock %}

{% block body %}
    <h1>Project</h1>

    <p>L'état de la candidature est : {% if candidatureProject.isValidated is null %}En attente{% elseif candidatureProject.isValidated is same as(true) %}Validée{% else %}Refusée{% endif %}</p>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidatureProject.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ candidatureProject.createdAt ? candidatureProject.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom du projet</th>
                <td><a href="{{ path('project_show', {'id': candidatureProject.project.id}) }}">{{ candidatureProject.project.label }}</a></td>
            </tr>
            <tr>
                <th>Email du user</th>
                <td>{{ candidatureProject.userCandidature.email }}</td>
            </tr>
        </tbody>
    </table>

    Valider-vous cette candidature ?<br>
    <a href="{{ path('candidature_project_validate', {'id': candidatureProject.id, 'validate': 'true'}) }}">Oui</a>
    <a href="{{ path('candidature_project_validate', {'id': candidatureProject.id, 'validate': 'false'}) }}">Non</a>
    <br>
    <a href="{{ path('candidature_project') }}">back to list</a>

{% endblock %}
