{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets  %} {{ parent() }} <style>
    body {
        background-color: lightgray;
    }
</style> {% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Bonjour </h1>

        <p>Voici le lien d'activation de votre compte: <br/>
        <p>votre mot de passe est : {{ password }} <br/>

        <p> <br/>

            <a href="{{ absolute_url(path('app_login')) }}">Lien</a>

        </p>

    </div>
{% endblock %}
